*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #151E3D;
}

.header{
    min-height: 100vh;
}

/* -------------- Nav Bar Section -------------- */

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 60px;

}


.nav-links{
    flex: 1;
    text-align: right;
    font-size: 12px;

}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 30px;

}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;

}

.nav-links ul li a:hover{
    color: aqua;
}


/* -------------- Footer Section -------------- */

.footer{
    margin-top: 60px;
    text-align: center;
    color: #fff;
}

.icons a{
    font-size: 25px;
    display: inline-block;
    padding: 0 10px;
    color: #fff;
}
.icons a:hover{
    color: aqua;
    text-decoration: none;
}

.footer p{
    margin-top: 4px;
    font-size: 10px;
}


/* -------------- Homepage Section -------------- */

.text-opening{
    padding: 120px 460px;
}

.text-opening h5{
    color: aquamarine;
    font-size: 16px;
}

.text-opening h1{
    color: #fff;
    font-size: 80px;
}

.text-opening h2{
    color: #fff;
    font-size: 60px;
}
.text-opening p{
    margin-top: 20px;
    color: #fff;

}

.text-opening p a{
    color: aquamarine;
}

.text-opening p a:hover{

    text-decoration: none;
}


.know-me-btn{

    margin-top: 40px;
    display: inline-block;
    color: aquamarine;
    border: 1px solid aquamarine;
    padding: 12px 25px;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
}

.know-me-btn:hover{
    border: 1px solid #fff;
    background: #fff;
    transition: 0.5s;
    text-decoration: none;
}